.list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;

  li {
    display: inline-block;
    margin: auto 2em;
  }

  a {
    color: white;
  }

  .icon {
    width: 2.5em;
    height: 2.5em;
  }
}
