.list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;

  li {
    display: inline-block;
    margin: auto 2em;
  }

  a {
    color: var(--color-white);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-soft-rose-brick);
    }
  }

  .icon {
    width: 2.5em;
    height: 2.5em;
  }
}
