@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, .h1 {
    @apply text-5xl;
  }
  h2, .h2 {
    @apply text-3xl;
  }
  h3, .h3 {
    @apply text-2xl
  }
  ul {
    @apply list-disc ml-4 pl-4
  }
  p {
    @apply text-lg leading-6 font-light
  }
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Raleway:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mulish, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

.family-primary {
  font-family: Mulish, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.border-chip {
  border-radius: 1px 5px 5px 5px;
}

