// $custom-colors: (
//   "warning": #FF9900
// );

$enable-shadows: true;

@import "~bootstrap/scss/bootstrap.scss";

$enable-shadows: true;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Raleway:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mulish, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

.family-primary {
  font-family: Mulish, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.border-chip {
  border-radius: 1px 5px 5px 5px;
}

.transparent-black {

}